# Built application files
*.apk
*.aar
*.ap_
*.aab

# Files for the ART/Dalvik VM
*.dex

# Java class files
*.class

release/

.gradle/
.idea/

.externalNativeBuild
build/

*.iml

*.jks
*.keystore
*.pepk


# Local configuration file (sdk path, etc)
local.properties

*.log


# Android Studio captures folder
captures/

RULES.txt